@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  text-align: center;
}

#modal-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  background-color: transparent !important;
  border: 0px !important;
}

.modal-header {
  border: 0px !important;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  padding: 5%;

}
